<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

  <title>Mechanic Shop</title>
</head>
<body>
    <!--  this is the html form code to add new part to the collection     -->
  <div class="container">
   <h3 >  New Part   </h3>
<!--  this is a form used to get user input to create a new document  and form is sent using post.
and is redirected to the appropriated url which is /carparts to pass this values to the post request and thus creating in new document.   -->
    <form action="/carparts" method="POST">
        <!--  this is a code to bring html form code to the current page. like a import.       -->
  <%- include('form_field') %>
    </form>
  </div>

  
</body>
</html>