
  <h2 for="Manufacturer"> <%= part.Manufacturer %> </h2>

</div>
<div class="form-group">
  <label for="Model">Model</label>
  <input  required value="<%= part.Model %>" type="text" name="Model" id="Model" class="form-control">
</div>
<div class="form-group">
  <label for="Part">Part Name </label>
  <input  required value="<%= part.Part %>" type="text" name="Part" id="Part" class="form-control">
</div>

<div class="form-group">
  <label for="Price">Price</label>
  <input  required value="<%= part.Price %>" type="text" name="Price" id="Price" class="form-control">
</div>


<!--<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
-->